---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/spree_oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=vendo%40example.com&password=vendo123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ca4d773837b1dd5a343fdbf7d08782a"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"4jAXnBqJDynuJlhdL9s2wBhXJmp8HqqiokuYXBu9sOI","token_type":"Bearer","expires_in":7200,"refresh_token":"QhkylihSRai6RilXQ37qWENiYQ8HopbhxA5vZWB9G0A","created_at":1649954346}'
  recorded_at: Thu, 14 Apr 2022 16:39:07 GMT
recorded_with: VCR 6.1.0
