---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/api/v2/storefront/cart
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"20b211c5c27b7d49057fa40ee8a4b8a1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"51f03ce7-7b79-481b-97c8-04493ed5c3ef","type":"cart","attributes":{"number":"R377216121","item_total":"0.0","total":"0.0","ship_total":"0.0","adjustment_total":"0.0","created_at":"2022-04-14T11:56:48.235-05:00","updated_at":"2022-04-14T11:56:48.235-05:00","completed_at":null,"included_tax_total":"0.0","additional_tax_total":"0.0","display_additional_tax_total":"$0.00","display_included_tax_total":"$0.00","tax_total":"0.0","currency":"USD","state":"cart","token":"smJLwQReuRnwSkeH-7_YoA1649955408213","email":null,"display_item_total":"$0.00","display_ship_total":"$0.00","display_adjustment_total":"$0.00","display_tax_total":"$0.00","promo_total":"0.0","display_promo_total":"$0.00","item_count":0,"special_instructions":null,"display_total":"$0.00","pre_tax_item_amount":"0.0","display_pre_tax_item_amount":"$0.00","pre_tax_total":"0.0","display_pre_tax_total":"$0.00","shipment_state":null,"payment_state":null,"public_metadata":{}},"relationships":{"line_items":{"data":[]},"variants":{"data":[]},"promotions":{"data":[]},"payments":{"data":[]},"shipments":{"data":[]},"user":{"data":null},"billing_address":{"data":null},"shipping_address":{"data":null}}}}'
  recorded_at: Thu, 14 Apr 2022 16:56:48 GMT
recorded_with: VCR 6.1.0
